body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
header{
  background-image: url('background-dep-de-thuong-800x500.jpg');
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #ff6600;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
p { 
font-size:20px; 
}
