body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
header{
  background-image: url('background-dep-de-thuong-800x500.jpg');
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #ff6600;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
p { 
font-size:20px; 
}
/* Thanh điều hướng */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

#navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Tạo không gian phía trên khi thanh điều hướng cố định */
body {
    padding-top: 50px;
}

/* Cuộn mượt */
html {
    scroll-behavior: smooth;
}
